/*!*****************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./public_html/src/scss/main.scss ***!
  \*****************************************************************************************************************************************************/

@font-face {
  font-family: 'Aquawax Pro';
  src: url(../../fonts/Aquawax/AquawaxPro-Light.woff);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aquawax Pro';
  src: url(../../fonts/Aquawax/AquawaxPro-Regular.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aquawax Pro';
  src: url(../../fonts/Aquawax/AquawaxPro-Regular.woff);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Aquawax Pro';
  src: url(../../fonts/Aquawax/AquawaxPro-Heavy.woff);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Aquawax Pro';
  src: url(../../fonts/Aquawax/AquawaxPro-Regular.woff);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Aquawax Pro';
  src: url(../../fonts/Aquawax/AquawaxPro-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

.header {
  width: 100%; }
  .header__top {
    padding: 22px 0px; }
  .header__logo > a {
    color: #009176;
    display: flex;
    flex-direction: column; }
    .header__logo > a > .top {
      font-size: 22px;
      font-weight: bold; }
    .header__logo > a > .sub {
      font-size: 14px; }
  .header__container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__phone {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative; }
    .header__phone .phone-icon {
      position: absolute;
      right: -20px;
      top: -2px; }
    .header__phone h3 {
      font-size: 18px;
      font-weight: bold;
      margin: 0px; }
    .header__phone > a {
      font-size: 14px;
      color: #009176; }
  .header__top-right {
    display: flex;
    align-items: center; }
  .header__lang {
    margin: 0px 30px; }
    .header__lang a {
      text-transform: uppercase; }
  .header__top-links {
    color: #000; }
    .header__top-links i {
      color: #009176; }
  .header__bottom {
    background: #009176; }
    .header__bottom ul {
      display: flex;
      margin: 0px;
      padding: 30px 0px; }
      .header__bottom ul > li {
        list-style-type: none;
        margin-right: 25px; }
        .header__bottom ul > li > a {
          color: #fff;
          font-size: 16px;
          font-weight: 500;
        }

.banner {
  height: 70vh; }
  .banner .swiper-main-banner {
    height: 100%; }
  .banner__slide-content {
    left: 0px; }
  .banner__slide {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .banner__slide-content button {
      margin-top: 20px; }

body {
  margin: 0px;
  padding: 0px;
  background: #fff;
  font-family: "Aquawax Pro"; }

.container {
  width: 1200px;
  position: relative; }

.btn-main {
  background: #009176;
  color: #fff; }

.section-heading__title {
  font-size: 2rem;
  font-weight: bold;
  position: relative;
  margin-bottom: 0px; }

.section-heading__subtitle {
  font-size: 1rem;
  font-weight: normal;
  color: #999; }

.section-heading:after {
  content: '';
  width: 50px;
  display: block;
  height: 2px;
  margin-top: 15px;
  background: #009176; }

